  .responsive-table {
    font-size: 0.8rem;
    border-collapse: collapse;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .responsive-table {
      font-size: 1.5rem;
    }
  }
